.gameView {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.play {
    background-color: #00d31c;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: inherit;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 170px;
    height: 50px;
    filter: blur(0px);

    transition: background-color 0.5s, filter 0.5s;
}

.play:hover {
    filter: blur(1px);
    background-color: #009414;
}